{{ define "main" }}

<div class="masonry">
  {{ range where .Site.Pages "Type" "posts" }}
    {{ if not .Draft }}
      <a class="item" href="{{ .RelPermalink }}" title="{{ .Title }}">
        {{ with .Params.images }}
          <img src="{{ index . 0 }}" alt="{{ $.Title }}" loading="lazy">
        {{ else }}
          {{ with .Params.videos }}
            <video src="{{ index . 0 }}" muted playsinline></video>
          {{ end }}
        {{ end }}
      </a>
    {{ end }}
  {{ end }}
</div>

{{ end }}
