{{ define "main" }}

<article class="post-detail">
  {{ with .Params.images }}
    <figure class="post-image">
      <img src="{{ index . 0 }}" alt="{{ $.Title }}">
    </figure>
  {{ else }}
    {{ with .Params.videos }}
      <figure class="post-video">
        <video src="{{ index . 0 }}" controls></video>
      </figure>
    {{ end }}
  {{ end }}

  <div class="post-content">
    <h1>{{ .Title }}</h1>

    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
    {{ $dateHuman := .Date | time.Format ":date_long" }}
    <time class="post-date" datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>

    <div class="post-body">
      {{ .Content }}
    </div>

    {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
  </div>
</article>

{{ end }}
